.advantager {
    position: relative;
    top: -43px;
    z-index: 1;
    margin-bottom: -43px;

    @media(min-width: $tablet) {
        position: static;
        margin-bottom: 0;

        & .advantager__decor {
            display: none;;
        }
    }
}

.advantager__decor {
    width: 100%;
}

.advantager__card {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media(min-width: $tablet) {
        flex-direction: row;
    }
}

.advantager__card_double {
    background-color: $blue;
}

.advantager__image-box {
    @media(min-width: $tablet) {
        flex-grow: 1;
        max-height: 256px;
        overflow: hidden;
    }
}

.advantager__card_modify {
    background-color: $white;
    padding: 23px 20px 30px 18px;
    
    @media(min-width: $tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
        justify-content: space-between;
    }
    
    & .advantager__card-content {
        padding: 0;
        display: grid;
        grid-template-columns: 48px 1fr;
        justify-items: left;
        text-align: left;
        margin-bottom: 22px;

        & .advantager__card-title {
            margin-top: 8px;
        }

        & .advantager__card-text {
            grid-column: 2/3;
            margin-top: 0;
        }

        @media(min-width: $tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 0;

            width: 200px;

            & .advantager__card-text {
                width: 178px;
            }
        }
    }
}

.advantager__card_modify-grey {
    background-color: $grey-l;
    padding: 23px 20px 30px 18px;    
    
    & .advantager__card-content {
        padding: 0;
        margin-bottom: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .advantager__card-title {
            margin-top: 0;
        }

        & .advantager__card-text {
            margin-top: 29px;
        }
    }
    @media(min-width: $tablet) {
        & .advantager__card-content {
            margin-bottom: 0;
            padding-top: 42px;
            padding-bottom: 63px;
            padding-left: 33px;
            padding-right: 34px;
        }
        & .advantager__card-title {
            width: 137px;
        }
    }
}

.advantager__card-content {
    padding: 54px 22px 40px 16px;
    @media(min-width: $tablet) {
        padding-top: 44px;
        max-width: 400px;
    }
}

.advantager__card-title {
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
}

.advantager__card-title_black {
    color: $black;
}

.advantager__card-number,
.advantager__card-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: $white;
    text-transform: uppercase;
}

.advantager__card-text {
    margin-top: 17px;
    margin-bottom: 0;
}

.advantager__card-text_black {
    color: $black;
}

.advantager__card-number_black {
    color: $black;
}

.advantager__card-img {
    display: block;
    width: 100%;
    max-height: 256px;
    object-fit: cover;
    object-position: center;
}